body {
  font: 1em sans-serif;
}

 .x.axis path {
      display: none;
    }

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.switch-field1 {
  font-family: 'Merriweather Sans', sans-serif;
  padding: 1%;
  overflow: hidden;
}
.switch-field1 input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1em;
    width: 1em;
    border: 0;
    overflow: hidden;
}

.switch-field1 label {
  float: left;
}

.switch-field1 label {
  display: inline-block;
  width: 4em;
  height: 2em;
  background-color: #081d58;
  border-style: solid;
  border: 1px solid #F8F9F9;
  color: #FFFFFF;
  font-size:1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  display: table-cell;
  vertical-align: middle;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 0.1em;
}

.switch-field1 label:hover {
    cursor: pointer;
    border: 1px dashed #FFC300;
    opacity: 0.5;
}

.switch-field1 input[class="switchEdo2"] + label {
  display: inline-block;
  width: 6em;
  height: 2em;
  background-color: black;
  border-style: solid;
  border: 1px solid #F8F9F9;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  display: table-cell;
  vertical-align: middle;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 0.1em;
}

.switch-field1 input[class="switchEdo2"]:checked + label {
  background-color: #BB8E00;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: bold;
}

.switch-field1 input[class="switchEdo"]:checked + label {
  background-color: #7f0000;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: bold;
}


.switch-title {
font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hoverCircle {
  opacity: .75;
}

h3{
 font-size: 2em;
 padding-bottom:0;
}

.switch-field1{
  padding-top:1em;
  margin-top: 0;
}

#party{
  border-style: solid;
  border: 2px solid #f7f7f7;
  stroke:black;
}