html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  background-color: black
}

h1 {
  font-size: 1em;
  line-height: 0.5em;
  color: white;
  padding: 0;
}

h2 {
  font-size: 0.9em;
  line-height: 0.5em;
  margin-bottom: 0.3em;
  color:white;
}

h3 {
  font-size: 0.7em;
  line-height: 0.7em;
  margin-bottom: 2em;
  color: white;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

table {
  font-size: 0.7em;
  border-collapse: collapse;
  width: 100%;
  height: 50%;
  overflow: scroll;
  margin: 0.5em;
  padding: 0.5em 0.5em;
  right: 0em;
  top: 0em;
  background-color: #9e9ac8;
}

td {
  border-right: none;
  border-bottom: 1px dotted ;
  border-bottom-style: dotted;
  text-align: left;
  padding: 0.4em;
  color: white;
}

th {
  color: white;
  text-align: left;
  padding: 0.4em;
  font-size: 0.7em;
  border-right: none;
  line-height: 0.5em;
}

hr {
  margin: 0px;
}

.navbar {
  top: 0;
  bottom: 0;
  width: 100vw;
  height:6vh;
  margin: 0px;
}

#map {
  position: relative;
  padding: 0;
  top: 0;
  width: 80vw;
  height:90vh;
}

#logoegob{
  max-width: 100%;
  display: block; /* remove extra space below image */
}

#fechacorte_l {
  font-size: 1em;
}

input:checked + .slider {
  background-color: #ff4747;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 0;
}

#slider {
  display: absolute;
  width: 98%;
  margin-left: 3px;
}
 
.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 75%;
  bottom: 0.4em;
  background-color: #099cb6;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 80%;
}

.sliderC {
  -webkit-appearance: none;
  width: 100%;
  height: 0.7em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.sliderC:hover {
  opacity: 1;
}

.sliderC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border: 0.1em solid #f0ffff;
  border-radius: 0.2em;
  background: #0dd5f8;
  cursor: pointer;
  margin-top: -0.0em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: .1em .1em .1em #000000, 0em 0em .1em #0d0d0d;
}

.sliderC::-moz-range-thumb {
  width: 1em;
  height: 1em;
  background: #0dd5f8;
  cursor: pointer;
}


.sliderC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0dd5f8;
  cursor: pointer;
}

.sliderC::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0dd5f8;
  cursor: pointer;
}


.session {
  margin-bottom: 1em;
}

.rowConsole {
  height: 1vw;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #c7e9b4, #7fcdbb, #41b6c4, #1d91c0, #225ea8, #0c2c84);
  margin-bottom: 0.1em;
}

.labelConsole {
  font-size: 0.7em;
  font-weight: bold;
  width: 14%;
  display: inline-block;
  text-align: center;
  color:white;
}

.buttonbox {
  width: 100%;
  margin-bottom: 10px;
}

.buttonboxp {
  width: 50%;
  background-color: #ff4747 !important;
  color: black;
  z-index: 100;
  text-transform: UPPERCASE;
}

.buttonboxs {
  width: 50%;
  background-color: #ffe73e !important;
  color: black;
  z-index: 100;
  text-transform: uppercase;
}

.on {
  display: none;
}

.on, .off {
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 0.6em;
}  

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

.btn-grafica {
  width: 100%;
  margin-bottom: 10px;
}

#fuente {
  margin:0;
  padding:0;
  font-size:  0.6em;
  color: white;
}

.totalsC {
  width: 100%;
  border: none;
  max-width:200vw; /* or whatever width you want. */
  display: inline-block;
  z-index:1;
  background: #222;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.totalsC:hover {
  opacity: 1;
  outline: #3f007d solid .3em;
}

#country {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

#fechacorte_r{ 
  font-size: 1em;
  color: white;
}

#tot_lab_pos {
  font-weight: 900;
  font-size: 1.6em;
  font-stretch: ultra-expanded;
  color: #ff4747;
  margin:0
}

#tot_lab_sos {
  font-weight: 900;
  font-size: 1.6em;
  font-stretch: ultra-expanded;
  color: #ffe73e;
  margin: 0;
}

.tot_label {
  font-size: 0.6em;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  margin:0;
  color: white;
}

.tabla-estados {
  padding:0px;
  margin:0px;
  width:100%;
  top: 0em;
  left: 0em;
}

.tupla {
  background-color: #222;
}

.edo_label {
  color: white;
  font-size: 0.8em;    
}

.num_p {
color: #ff4747;
font-size: 16px;
}

.num_s {
color: #ffe73e;
font-size: 16px;
}

#graph-modal {
  width: fit-content;
}

@media  (max-width: 990px) {
  #map {
    width: 100vw;
  }

  #fechacorte_lm {
    font-size: 25px;
    margin-left: 16px;
    margin-top: -7px;
    margin-bottom: 18px;
  }

  #logocontainermovil {
    position: absolute;
    width: 40%;
    right: 0px;
    top: 0;
    border-radius: 5px;
    height: 90%;
  }

  #slidercontainer {
    position: absolute;
    width: 100%;
    left: 0em;
    bottom: 20px;
    border-radius: 5px;
    height: 118px;
    background-color: black;
  }


  #buttoncontainer {
    position: absolute;
    display: flex;
    bottom: 0em;
    width: 100%;
    right: 0em;
    height: 8vh;
    background-color: transparent;
  }
  .button {
    width: 50%;
    margin: 0px 1px;
    border-radius: 5px;
    margin-bottom: 14px;
    background-color: #333;
    z-index: 100;
    border: none;
    font-size: 31px;
    text-transform: UPPERCASE;
  }
  #logoanalysis {
    display: block; /* remove extra space below image */
    font-size: 40px;
  }
  #console {
    display: none;
  }
  #estados {
      display: none;
  }
  #grafico { 
      display: none;
  }
  #graficomov { 
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #222;
    border-radius: 3px;
  }

  .sliderCm {
    margin-left: 9px;
    -webkit-appearance: none;
    width: 95% !important;
    height: 0.7em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 8px;
    border-radius: 200px !important
  }

  table {
    font-size: 16px;
    margin: 0px;
  }

  .close {
    opacity: 0.8;
  }

  #container-tabla {
    padding: 0px;
  }

  #tablemobile-content {
    padding: 0px;
  }
}


@media  (min-width: 990px) {
  .add-btn {
    display: none;
  }

  .container-map {
    display: inline-flex;
    height: 90vh;
  }
  
  #slidercontainer {
    display: none;
  }

  #logocontainermovil {
    display: none;
  }
  
  .sliderm {
    display: absolute;
    width: 70%;
    margin-left: 3px;
  }

  #buttoncontainer {
    display: none;
  }
  #console {
    float: right;
    position: absolute;
    width: 20vw;
    margin-top: 0;
    margin: 0px;
    padding: .7vh .9vw;
    background-color: #222;
    left: 0em;
    top: 50px;    
  }
  #console:hover {
    opacity: 1;
    outline: #3f007d solid 2px;
  }
  #estados {
    margin: 0em;
    padding: .1em .10em;
    background-color: #222;
    overflow-y: scroll;
    width: 20vw;
    height:100%;
  }
  #grafico {
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #222;
    border-radius: 3px;
  }

  #graficomov { 
    display: none;
  }
}

#grafico:hover{
  opacity: 1;
  outline: #3f007d solid 2px;
  margin: 0px;
} 

.estadosselect {
  position: absolute;
  margin: 0em;
  padding: .1em .10em;
  top: 0px;
  right: 0em;
  background-color: #222;
  overflow-y: scroll;
  width: 20vw;
  height:100%;
}

/*Final because paints the select button*/
.active {
  width: 50%;
  background-color: #2066ac !important;
  color: white !important;
  z-index: 100;
  text-transform: uppercase;
}

/*JS classes*/
.line {
  fill: none;
  stroke:#2066ac;
  stroke-width: 5;
}

.axis path, .axis line {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
  color:#222;
}

.dot {
  color: white;
}

.dotm {
  color: white;
  r: 5px;
}

circle  {
  fill:#9dc7f1 !important;
  cursor: pointer;
}

div.tooltip {   
  position: absolute;         
  text-align: center;         
  width: 3em;                    
  height: 2.5em;                   
  padding: .1em;               
  font: 0.7em sans-serif;      
  background: lightsteelblue; 
  border: 0px;        
  border-radius: 0.2em;         
  pointer-events: none;           
}

#modal-menu{
  font-size: large;

}

.menu-btn-div{
  margin: 10%;
}


.menu-text{
  padding-top: 10%;
  padding-bottom: 10%;
}

.menu-text:link {
  color: #dbdbdb;
  text-decoration: none;
}

.menu-text:visited {
  color: #dbdbdb;
  text-decoration: none;
}

.menu-text:hover {
  color: #ffffff;
}

.menu-text:active {
  color: #ffffff;
  text-decoration: underline;
  background-color: #6e6e6e;
}
.modal-allow-interact {
  position: absolute;
  top:50px;
  left: 0;
  right: 0;
  bottom: auto;
  width: auto;  /* this can be however wide you want the modal to be */
  margin: 0 auto;
}

.p0 {
  padding: 0px;
}